.actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: flex-start;

  .action {
    flex-shrink: 0;
    padding: 6px;

    a {
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      border: 1px solid transparent;
      text-align: center;
      font-weight: 600;
      white-space: nowrap;
      border-radius: 20px;
      padding: 0 20px;
      line-height: 38px;
      font-size: 14px;
      border-color: var(--ev-button-alt-border);
      color: var(--ev-button-alt-text);
      background-color: var(--ev-button-alt-bg);

      &:hover {
        border-color: var(--ev-button-alt-hover-border);
        color: var(--ev-button-alt-hover-text);
        background-color: var(--ev-button-alt-hover-bg);
      }
    }
  }

  @include media(sm) {
    display: none;
  }
}
