.text,
.text-highlight {
  font-weight: 700;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
  @include media(lg) {
    font-size: 20px;
  }
}

.text-highlight {
  background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tip,
.creator {
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  @include media(sm) {
    display: none;
  }
}

.creator {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
