@mixin media($width: sm) {
  @if ($width == sm) {
    @media (max-width: 350px) {
      @content;
    }
  }
  @if ($width == md) {
    @media (max-width: 620px) {
      @content;
    }
  }
  @if ($width == lg) {
    @media (max-width: 720px) {
      @content;
    }
  }
}
